################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Du_An_One/FileContentIndex/68afabb7-7188-4e8f-a535-6c819b7439a8.vsidx
/.vs/Du_An_One/FileContentIndex/741bbedb-ab34-44f8-be2e-d1f84b4b6dfb.vsidx
/.vs/Du_An_One/FileContentIndex/8c615cdb-47ff-401a-9616-a061a406d031.vsidx
/.vs/Du_An_One/FileContentIndex/96e74a09-d994-499b-ba7d-a40a60f7d338.vsidx
/.vs/Du_An_One/FileContentIndex/62343271-a0c4-44bd-9a53-54eb3d343a3c.vsidx
/.vs/Du_An_One/FileContentIndex/d5e1cab7-62e6-48fa-9aad-ef1572d77674.vsidx
