@model Du_An_One.Models.KHACHHANG

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h1>CHI TIẾT THÔNG TIN KHÁCH HÀNG</h1>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="MaKH" class="control-label">Mã khách hàng</label>
        <input asp-for="MaKH" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HoTen" class="control-label"> Họ tên</label>
        <input asp-for="HoTen" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NgaySinh" class="control-label">Ngày sinh</label>
        <input asp-for="NgaySinh" readonly type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NoiSinh" class="control-label">Nơi sinh</label>
        <input asp-for="NoiSinh" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
        <input asp-for="DiaChi" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CCCD" class="control-label">CCCD</label>
        <input asp-for="CCCD" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SDT" class="control-label">SĐT</label>
        <input asp-for="SDT" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TenTaiKhoan" class="control-label">Tên tài khoản</label>
        <input asp-for="TenTaiKhoan" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MatKhau" class="control-label">Mật khẩu</label>
        <input asp-for="MatKhau" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TinhTrang" class="control-label">Tình trạng</label>
        <input asp-for="TinhTrang" readonly class="form-control" />
    </div>
    <div class="form-group">
        <a asp-action="Index"> <button class="btn btn-primary">Quay lại</button></a>
    </div>

</div>
