@using System.Security.Claims;
@using Du_An_One.Data
@{
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
    var MaNguoiDung = User.FindFirst(ClaimTypes.Surname)?.Value;
}
@inject Du_An_OneContext _db;
<body>
    <header class="bg-background text-primary-foreground flex justify-between items-center py-8 px-16 fixed w-full" style="position: sticky;z-index:10;top: 0;backdrop-filter: blur(45px);">
        <div class="flex items-center space-x-2">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/kaiadmin/favicon.png" alt="No Image🖼️" class="w-10 h-10 object-fit-contain">
            </a>
            <span class="font-bold">Company Name</span>
        </div>
        <div class="flex space-x-4 gap-3">
            <a asp-controller="Home" asp-action="Index" class="hover:text-primary font-bold text-1xl">Trang chủ</a>
            <a asp-controller="ProductPage" asp-action="Index" class="hover:text-primary font-bold text-1xl">Trang sản phẩm</a>
        </div>
        <div class="flex space-x-4 items-center">
            @if (User.Identity.IsAuthenticated)
            {
                <span>Xin chào, @User.Identity.Name</span>
                <div class="relative">
                    <a class="hover:text-primary font-bold text-1xl dropdown-toggle hidden-caret" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Cài đặt</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @if (String.IsNullOrEmpty(MaNguoiDung))
                        {
                            <li class="px-4"><a asp-controller="Login" asp-action="Index" style="cursor: pointer;">Đăng nhập</a></li>
                        }
                        else
                        {
                            @if (userRole == "Quản lý")
                            {
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="TongQuan">Quản lý</a></li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" asp-controller="KHACHHANGs" asp-action="InfoCustomer" asp-route-id="@MaNguoiDung">Tài khoản</a></li>
                            }
                            <li>
                                <button type="submit" class="dropdown-item" onclick="document.getElementById('confirmLogout').style.display = ''">Đăng xuất</button>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <a asp-controller="Login" asp-action="Index" class="hover:text-primary font-bold text-1xl" style="cursor: pointer;">Đăng nhập</a>
                <a asp-controller="Login" asp-action="Register" class="hover:text-primary font-bold text-1xl" style="cursor: pointer;">Đăng ký</a>
            }
        </div>
    </header>
</body>