@using System.Security.Claims;
@using Du_An_One.Data
@{
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
    var MaNguoiDung = User.FindFirst(ClaimTypes.Surname)?.Value;
}
@inject Du_An_OneContext _db;
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header class="bg-background text-primary-foreground flex justify-between items-center py-8 px-16 fixed w-full" style="position: sticky; z-index: 10; top: 0; backdrop-filter: blur(45px);">
        <div class="flex w-1/3 items-center space-x-2">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/kaiadmin/favicon.png" alt="No Image🖼️" class="w-20 h-10 object-fit-contain">
            </a>
            <span class="font-bold text-2xl">T.U.F.T</span>
        </div>
        <div class="flex w-1/3 justify-center">
            <div class="flex space-x-4 gap-3">
                <a asp-controller="Home" asp-action="Index" class="hover:text-primary font-bold text-2xl">Trang chủ</a>
                <a asp-controller="ProductPage" asp-action="Index" class="hover:text-primary font-bold text-2xl">Trang sản phẩm</a>
            </div>
        </div>
        <div class="flex w-1/3 justify-end items-center space-x-4">
            @if (User.Identity.IsAuthenticated)
            {

                @if (userRole != "Quản lý")
                {
                    var hd = _db.HOADON?.FirstOrDefault(hd => hd.MaKH == MaNguoiDung && hd.TinhTrang == "Chờ thanh toán")?.MaHoaDon;
                    int numCarts = _db.CHITIETHOADON?.Count(ct => ct.MaHoaDon == hd) ?? 0;
                    <a asp-controller="KHACHHANGs" asp-action="ListProductsInBagOfCustomer" asp-route-idUser="@MaNguoiDung" class="cart-icon relative d-inline-block px-4">
                        <i class="fas fa-shopping-cart font-bold text-3xl"></i>
                    <span class="cart-count absolute text-white font-bold bg-danger rounded-circle"
                          style="
                            padding: 1px 6px;
                            top: -10px;
                            right: 7px;">@numCarts</span>
                    </a>
                }
                else
                {
                    <span class="hover:text-primary font-bold text-2xl px-4">Xin chào, @User.Identity.Name</span>
                }
                <div class="relative">
                    <a class="hover:text-primary font-bold text-2xl dropdown-toggle hidden-caret" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Tài khoản</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @if (String.IsNullOrEmpty(MaNguoiDung))
                        {
                            <li class="px-4"><a asp-controller="Login" asp-action="Index" style="cursor: pointer;">Đăng nhập</a></li>
                        }
                        else
                        {
                            @if (userRole == "Quản lý")
                            {
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="TongQuan">Quản lý</a></li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" asp-controller="KHACHHANGs" asp-action="InfoCustomer" asp-route-id="@MaNguoiDung">Thông tin</a></li>
                            }
                            <li>
                                <button type="submit" class="dropdown-item" onclick="document.getElementById('confirmLogout').style.display = ''">Đăng xuất</button>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <a asp-controller="Login" asp-action="Index" class="hover:text-primary font-bold text-2xl" style="cursor: pointer;">Đăng nhập</a>
                <a asp-controller="Login" asp-action="Register" class="hover:text-primary font-bold text-2xl" style="cursor: pointer;">Đăng ký</a>
            }
        </div>
    </header>
</body>