@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Du_An_One.Models.SANPHAM>
@{
    ViewData["Title"] = "Home Page";
}




@foreach (var oneProduct in Model)
{

    <div class="bg-white p-4 rounded-lg shadow-lg">
        <img src="@Url.Content("~/img/productImage/" + oneProduct.HinhAnh)"
             alt="@oneProduct.TenSP"
             onerror="this.src='https://cdn.leonardo.ai/users/95219c13-f990-4541-addb-090c7c03d405/generations/77ed9f7c-fb62-4f73-a9de-17ddc965e777/Default_create_an_image_with_the_main_color_being_gray_and_whi_1.jpg'"
             alt="Product 1"
             class="mb-4"
             style="object-fit: cover; width: 100%; height: 300px" />
        <h3 class="text-2xl font-semibold mb-2">@oneProduct.TenSP</h3>
        <p class="mb-4">Giá: @oneProduct.DonGiaBan VND</p>
        <a asp-controller="Login" asp-action="Index" class="bg-primary text-primary-foreground hover:bg-primary/80 py-2 px-4 rounded-lg text-white"
           style="background-color: rgb(139, 97, 255);cursor: pointer;">
            Mua ngay
        </a>
    </div>
}