@model Du_An_One.Models.NHACUNGCAP

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h1>THÔNG TIN CHI TIẾT NHÀ CUNG CẤP</h1>

<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="MaNhaCC" class="control-label">Mã nhà cung cấp</label>
        <input asp-for="MaNhaCC" readonly class="form-control" />
        <span asp-validation-for="MaNhaCC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TenNhaCC" class="control-label">Tên nhà cung cấp</label>
        <input asp-for="TenNhaCC" readonly class="form-control" />
        <span asp-validation-for="TenNhaCC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
        <input asp-for="DiaChi" readonly class="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" readonly class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SDT" class="control-label">SĐT</label>
        <input asp-for="SDT" readonly class="form-control" />
        <span asp-validation-for="SDT" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NgayThanhLap" class="control-label">Ngày thành lập</label>
        <input asp-for="NgayThanhLap" readonly type="date" class="form-control" />
        <span asp-validation-for="NgayThanhLap" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NguoiDaiDien" class="control-label">Người đại diện</label>
        <input asp-for="NguoiDaiDien" readonly class="form-control" />
        <span asp-validation-for="NguoiDaiDien" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ThoiGianCungCap" class="control-label">Thời gian cung cấp</label>
        <input asp-for="ThoiGianCungCap" readonly type="date" class="form-control" />
        <span asp-validation-for="ThoiGianCungCap" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TinhTrang" class="control-label">Tình trạng</label>
        <input asp-for="TinhTrang" readonly class="form-control" />
        <span asp-validation-for="TinhTrang" class="text-danger"></span>
    </div>
    
</form>
<div class="form-group">
    <a asp-action="Index"> <button class="btn btn-primary">Quay lại</button></a>
</div>
