@model Du_An_One.Models.NHACUNGCAP

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h4>SỬA THÔNG TIN NHÀ CUNG CẤP</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="MaNhaCC" class="control-label">Mã nhà cung cấp</label>
                <input asp-for="MaNhaCC" readonly class="form-control" />
                <span asp-validation-for="MaNhaCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNhaCC" class="control-label">Tên nhà cung cấp</label>
                <input asp-for="TenNhaCC" class="form-control" />
                <span asp-validation-for="TenNhaCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" type="date" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label">Số điện thoại</label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThanhLap" class="control-label">Ngày thành lập</label>
                <input asp-for="NgayThanhLap" type="date" class="form-control" />
                <span asp-validation-for="NgayThanhLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiDaiDien" class="control-label">Người đại diện</label>
                <input asp-for="NguoiDaiDien" class="form-control" />
                <span asp-validation-for="NguoiDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianCungCap" class="control-label">Thời gian cung cấp</label>
                <input asp-for="ThoiGianCungCap" type="date" class="form-control" />
                <span asp-validation-for="ThoiGianCungCap" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label>Tình trạng</label>
                <select asp-for="TinhTrang" class="form-select" aria-label="Default select example">
                    <option value="Đang hoạt động" selected>Đang hoạt động</option>
                    <option value="Ngừng hoạt động">Ngừng hoạt động</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <a asp-action="Index"> <button class="btn btn-primary">Quay lại</button></a>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}