@model Du_An_One.Models.HOADON

@{
    ViewData["Title"] = "Sửa thông tin hóa đơn";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h4>SỬA THÔNG TIN HÓA ĐƠN</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="MaHoaDon" class="control-label">Mã hóa đơn</label>
                <input asp-for="MaHoaDon" readonly class="form-control" />
                <span asp-validation-for="MaHoaDon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiNhanHang" class="control-label">Địa chỉ nhận hàng</label>
                <input asp-for="DiaChiNhanHang" readonly class="form-control" />
                <span asp-validation-for="DiaChiNhanHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label">Ngày tạo</label>
                <input asp-for="NgayTao" readonly type="date" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>HTTT</label>
                <select asp-for="HTTT" disabled class="form-select" aria-label="Chọn phương thức thanh toán">
                    <option value="Thanh toán khi nhận hàng">Thanh toán khi nhận hàng</option>
                    <option value="Chuyển khoản">Chuyển khoản</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label">Thu ngân</label>
                <input asp-for="MaNV" readonly class="form-control" />
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKH" class="control-label">Khách hàng</label>
                <input asp-for="MaKH" readonly class="form-control" />
                <span asp-validation-for="MaKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrang">Tình trạng</label>
                <select asp-for="TinhTrang" class="form-select">
                    <option value="Chuẩn bị hàng">Chuẩn bị hàng</option>
                    <option value="Chờ giao hàng">Chờ giao hàng</option>
                    <option value="Đang giao hàng">Đang giao hàng</option>
                    <option value="Đã giao hàng">Đã giao hàng</option>
                    <option value="Đã thanh toán">Đã thanh toán</option>
                    <option value="Đã hủy">Đã hủy</option>
                    <option value="Hoàn trả/Hoàn tiền">Hoàn trả/Hoàn tiền</option>
                </select>
                <span asp-validation-for="TinhTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <a asp-action="Index"> <button class="btn btn-primary">Quay lại</button></a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
